
    <!-- Page Header -->
    <div class="page-header">
        <div class="pull-left">
            <ol class="breadcrumb visible-sm visible-md visible-lg">
                <li><a href="index.html"><i class="icon fa fa-home"></i>Home</a></li>
                <li class="active"><i class="fa fa-table"></i>Article</li>
            </ol>
        </div>
        <div class="pull-right">
            <h2>Article</h2>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row" >

        <div class="col-lg-6" ng-repeat="list in lists" ng-clock>
            <div class="panel">
                <div class="panel-heading bk-bg-primary">
                    <h6><i class="fa fa-table red"></i><span class="break"></span>{{list.title}}</h6>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="javascript(0);" class="btn-closess" data-id="{{list._id}}"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body" ng-bind-html="list.contents">

                </div>
            </div>
        </div>




    </div>

