
    <!-- Page Header -->
    <div class="page-header">
        <div class="pull-left">
            <ol class="breadcrumb visible-sm visible-md visible-lg">
                <li><a href="index.html"><i class="icon fa fa-home"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-list-alt"></i>Forms</a></li>
                <li class="active"><i class="fa fa-indent"></i>Elements</li>
            </ol>
        </div>
        <div class="pull-right">
            <h2>Elements</h2>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading bk-bg-primary">
                    <h6><i class="fa fa-indent red"></i>Normal Form</h6>
                </div>
                <div class="panel-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="nf-email">Email</label>
                            <input type="email" id="nf-email" name="nf-email" class="form-control" placeholder="Email address">
                            <span class="help-block">Please enter your email</span>
                        </div>
                        <div class="form-group">
                            <label for="nf-password">Password</label>
                            <input type="password" id="nf-password" name="nf-password" class="form-control" placeholder="Password">
                            <span class="help-block">Please enter your password</span>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


