
    <!-- Page Header -->
    <div class="page-header">
        <div class="pull-left">
            <ol class="breadcrumb visible-sm visible-md visible-lg">
                <li><a href="/"><i class="icon fa fa-home"></i>Home</a></li>
                <li class="active"><a href="#"><i class="fa fa-list-alt"></i>Note</a></li>

            </ol>
        </div>
        <div class="pull-right">
            <h2>Note</h2>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading bk-bg-primary">
                    <h6><i class="fa fa-indent red"></i>Note</h6>
                </div>
                <div class="panel-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="nf-email">主题名称</label>
                            <input type="text" id="nf-email" ng-model="title" class="form-control" placeholder="Theme Name">
                            <span class="help-block">输入你的主题名称</span>
                        </div>

                        <div class="form-group">
                            <label for="editor">内容</label>
                            <div id="editor" type="text/plain" style="width:100%;height:300px"></div>

                        </div>

                        <div class="form-group">
                            <label >类别</label><br>
                            <div class="radio-custom radio-inline">
                                <input type="radio" id="inline-radio1" name="inline-radios" value="Java" ng-model="type" ng-checked="true">
                                <label for="inline-radio1"> Java</label>
                            </div>
                            <div class="radio-custom radio-inline">
                                <input type="radio" id="inline-radio2" name="inline-radios" value="NodeJS" ng-model="type">
                                <label for="inline-radio2"> NodeJS</label>
                            </div>
                            <div class="radio-custom radio-inline">
                                <input type="radio" id="inline-radio3" name="inline-radios" value="JavaScript" ng-model="type">
                                <label for="inline-radio3"> JavaScript</label>
                            </div>
                            <div class="radio-custom radio-inline">
                                <input type="radio" id="inline-radio4" name="inline-radios" value="Other" ng-model="type">
                                <label for="inline-radio4"> Other</label>
                            </div>
                            <span class="help-block">选择文章的类别</span>
                        </div>
                        <button type="button" class="bk-margin-5 btn btn-primary btn-sm" ng-click="submit()">提交</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


